<h1>Task Index</h1>

<% @tasks.each do |task| %>
  <h3>
    <a class="task_link" href="/tasks/<%= task.id %>"><%= task.title %></a>
      <a href="/tasks/<%= task.id %>/edit">Edit</a>
  </h3>

<% end %>
