<form action="/tasks" method="post">
  <label for="task_name">Enter a new task:</label>
  <input placeholder="task name" id="task_name" type="text" name="task[title]"/><br/>
  <label for="task_description">Enter a description:</label>
  <textarea id="task_description" placeholder="enter details here!" name="task[description]"></textarea><br/>
  <button class="btn waves-effect waves-light btn-large cyan darken-4" type="submit" name="action">
    <i class="material-icons left">playlist_add</i>
    <span>ADD TO LIST</span>
  </button>
</form>
